section#about.about
	.container
		.row
			.col-md-6
				.owl-carousel.simple(data-owl-xs='1', data-owl-sm='1', data-owl-md='1', data-owl-lg='1')
					.img-item
						img.hero-img.img-responsive(src=URL+'/userfiles/images/about/about-1.jpg', alt='')
					.img-item
						img.hero-img.img-responsive(src=URL+'/userfiles/images/about/about-2.jpg', alt='')
					.img-item
						img.hero-img.img-responsive(src=URL+'/userfiles/images/about/about-3.jpg', alt='')
					.img-item
						img.hero-img.img-responsive(src=URL+'/userfiles/images/about/about-4.jpg', alt='')
					.img-item
						img.hero-img.img-responsive(src=URL+'/userfiles/images/about/about-5.jpg', alt='')
					.img-item
						img.hero-img.img-responsive(src=URL+'/userfiles/images/about/about-6.jpg', alt='')
			.col-md-6
				.panel-block
					h2.text-heading О курсе
					p
					| Курс SAP TERP10 «Интеграция бизнес-процессов» – это уникальная возможность освоить работу с современной ERP-системой и получить профессиональный сертификат компании SAP.
					p
					| Курс дает базовые знания по SAP ERP и призван стать первой ступенью для дальнейшего более углубленного изучения модулей и решений SAP.
					p
					| В отличие от специализированных курсов, которые рассчитаны на работу с конкретным решением или модулем SAP, курс TERP10 сфокусирован на понимании функционирования системы в целом и взаимодействия отдельных ее компонентов. Обладая таким более универсальным знанием, становится возможным гораздо лучше понимать и эффективнее использовать столь сложный инструмент, как SAP.