script.
	var lang     = 'ru';
	var AJAX     = '#{URL}/ajax/';
	var MAIN     = '#{URL}/';
	var AJAX_URL = '#{URL}/core/ajax/';
	var CORE     = '#{URL}/core/';
	var IMG      = '#{URL}/img/';
script(src=URL+'/js/modernizr.js')
script(src=URL+'/js/jquery-3.1.1.min.js')
script(src=URL+'/js/jquery-migrate-3.0.0.min.js')
script(src=URL+'/js/bootstrap.min.js')
script(src=URL+'/js/bootstrap-notify.min.js')
script(src=URL+'/js/owl-carousel.js')
script(src=URL+'/js/equalize.min.js')
script(src=URL+'/js/icheck.min.js')
script(src=URL+'/js/main.js')
script(src=URL+'/js/reg.js')
script(src=URL+'/js/map.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCBcS_wxjhY6HsbL28cpmccVjmX3yw0O0c&callback=initMap&language=ru')